{% extends 'diawe/base.html' %}
{% load staticfiles %}

{% block css_style %}
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
{% endblock %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1 class="typeface">This project is DiaWe!</h1>
    <div>
        <img class="location" src="{% static 'images/about2.jpg' %}" alt="1" width="126" height="126"/>
        
        <img class="location" src="{% static 'images/about2.jpg' %}" alt="2" width="126" height="126"/>
        <img class="location" src="{% static 'images/about2.jpg' %}" alt="3" width="126" height="126"/>
        <img class="location" src="{% static 'images/about2.jpg' %}" alt="4" width="126" height="126"/>
    </div>
{% endblock %}