<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
        <meta charset="UTF-8">
        {% block css_style %}
        {% endblock %}
        <title>
            {% block title_bolck %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
    </body>
    <hr />
    <div>
        <ul>
            <a class="base" href="{% url 'diawe:about' %}">About</a>
            <a class="base" href="{% url 'diawe:login' %}">Login</a>
            <a class="base" href="{% url 'diawe:register' %}">Register</a>
        </ul>
    </div>
</html>