<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        {% block css_style %}
        {% endblock %}

        <title>
            DiaWe -
            {% block title_block %}
                Diary with us!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>

    <div>
        <br />
        
        <ul>
        {% if user.is_authenticated %}
            <label> hello {{ user.username }}!   </label>
            
            <a class="base" href="{% url 'diawe:logout' %}">Logout</a>
            <a class="base" href="{% url 'diawe:article' %}">Article</a>
            <a class="base" href="{% url 'diawe:create' %}">Write a log</a>
        {% else %}
            <a class="base" href="{% url 'diawe:about' %}">About</a>
            <a class="base" href="{% url 'diawe:register' %}">Sign Up</a>
            <a class="base" href="{% url 'diawe:login' %}">Login</a>
        {% endif %}
        </ul>
    </div>
    <hr />
    <body>
        <style type="text/css">
        body {background-color:#b0c4de;}
        </style>
        <div>
        {% block body_block %}
        {% endblock %}
        </div> 
        <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    </body>
    

</html>