{% extends 'diawe/base.html' %}
{% load staticfiles %}

{% block css_style %}
    <link rel="stylesheet" type="text/css" href="/static/css/create.css">
{% endblock %}

{% block title_block %}
    Write Log
{% endblock %}

{% block body_block %}



<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h1> Add a article to {{ team.nameTeam }}</h1>
          
            <form method="post" action="/diawe/article/{{ team.slug }}/create/" enctype="multipart/form-data">
               
                {% csrf_token %}
              
                <div class="form-group">
                  
                    <label class="create" for="title">Title</label>
             
                    <input type="text" class="form-control" id="title" name="title">
                </div>
            
                <div class="form-group">
                    <label class="create" for="body">Article</label>
                   
                    <textarea type="text" class="form-control" id="body" name="body" rows="12"></textarea>
                    <input type="file" name="file">
                </div>
               
                <button type="submit" class="create">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}