{% extends 'diawe/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Detail
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">作者：{{ article.author }}
            <!-- <a href="{% url 'diawe:delete' article.id%}">删除文章</a> -->
        </div>
        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article.body }}</p>
        </div>
        {% if users.username == author %}

        <a href="{% url 'diawe:delete' article.id%}">
            <button>delete</button>
        </a>
        <a href="{% url 'diawe:update' article.id%}">
            <button>update</button>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}