{% extends 'diawe/base.html' %}
{% load staticfiles %}

{% block css_style %}
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
{% endblock %}

{% block title_block %}
    Detail
{% endblock %}

{% block body_block %}

<div class="container" style="background-color:aliceblue;margin: 5%;">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="titles">{{ article.title }}</h1>
        <br />
        <div class="author">Author：{{ article.author }}
            <!-- <a href="{% url 'diawe:delete' article.id%}">删除文章</a> -->
        </div>
        <!-- 文章正文 -->
        <div class="articles">
            <p>{{ article.body }}</p>
            {% if flag %}
            <br />
            <img src="{{ MEDIA_URL }}{{article.picture}}" alt="no picture" width="800" height="400"/> 
            {% endif %}
        </div>
        <br />
        {% if users.username == author %}
        <a class="button" href="{% url 'diawe:delete' article.id%}">delete</a>
        <a class="button" href="{% url 'diawe:update' article.id%}">update</a>
        {% endif %}
    </div>
</div>


<!-- 发表评论 -->
<hr>
{% if user.is_authenticated %}
    <div class="container">
        <form 
            action="{% url  'diawe:post_comment' article.id %}" 
            method="POST"
        >
        {% csrf_token %}
            <div class="form-group">
                <label for="body" class="comments">
                    <strong>
                        Comment：
                    </strong>
                </label>
                <textarea 
                    type="text" 
                    class="form-control" 
                    id="body" 
                    name="body" 
                    rows="2"></textarea>
            </div>
            <!-- 提交按钮 -->
            <button type="submit" class="submit1 ">Submit</button>                    
        </form>
    </div>
    <br>
{% else %}
    <br>
    <h5 class="row justify-content-center">
        Please<a class="button" href="{% url 'login' %}">Login</a>
    </h5>
    <br>
{% endif %}


<!-- 显示评论 -->
    <h4 class="comment">{{ comments.count }} comments in total: </h4>
    <div>
        {% for comment in comments %}
            <hr>
            <p class="tpyeface">
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> at 
                <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> ：
            </p>
            <pre style="font-family: inherit; font-size: 1em;">
{{ comment.body }}</pre>
        {% endfor %}
    </div>
</div>

{% endblock %}