{% extends 'diawe/base.html' %}
{% load staticfiles %}

{% block css_style %}
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
{% endblock %}

{% block title_block %}
    Detail
{% endblock %}

{% block body_block %}

<div class="container" style="background-color:aliceblue;margin: 5%;">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="titles">{{ article.title }}</h1>
        <br />
        <div class="author">Author：{{ article.author }}
            <!-- <a href="{% url 'diawe:delete' article.id%}">删除文章</a> -->
        </div>
        <!-- 文章正文 -->
        <div class="articles">
            <p>{{ article.body }}</p>
        </div>

        <a class="button" href="{% url 'diawe:delete' article.id%}">delete</a>
        <a class="button" href="{% url 'diawe:update' article.id%}">update</a>
    </div>
</div>


<!-- 发表评论 -->
<hr>
{% if user.is_authenticated %}
    <div class="container">
        <form 
            action="{% url  'diawe:post_comment' article.id %}" 
            method="POST"
        >
        {% csrf_token %}
            <div class="form-group">
                <label for="body" class="comments">
                    <strong>
                        Comment：
                    </strong>
                </label>
                <textarea 
                    type="text" 
                    class="form-control" 
                    id="body" 
                    name="body" 
                    rows="2"></textarea>
            </div>
            <!-- 提交按钮 -->
            <button type="submit" class="submit1 ">Submit</button>                    
        </form>
    </div>
    <br>
{% else %}
    <br>
    <h5 class="row justify-content-center">
        Please<a class="button" href="{% url 'login' %}">Login</a>
    </h5>
    <br>
{% endif %}
{% endblock %}