{% extends 'diawe/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Update
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <h2>Title</h2>
                    <input type="text" class="form-control" id="title" name="title" value="{{ log.title }}">
                </div>

                <div class="form-group">
                    <h2>Body</h2>
                    <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ log.body }}</textarea>
                    <input type="file" name="file">
                </div>
                <button type="submit" class="btn bg-info text-white">Update</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}