a.base:link,a.base:visited {
    font-family:"Comic Sans MS", cursive, sans-serif;
    margin-right: 10px;
    text-decoration:none;
    color:aliceblue;
} 

a.base:hover {
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-decoration:underline;
    font-size:150%;
    color:#3df59f;
} 

a.base:active {
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-decoration:underline;
    color:#a4ff80;
} 

h6.header1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 1ex;
    color: aliceblue;
}

h3.header1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: aliceblue;
}

div.header1{
    background-image: url('static/images/header.jpg');
    background-repeat:no-repeat;
    background-position: right;
}