h1.typeface1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:4em;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 40px;
}

label.typeface {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.6em;
    margin-left: 30%;
}

input[type=text] {
    font-family:"Comic Sans MS", cursive, sans-serif;
    border-style:solid;
    border-width:medium;
    border-color:#000000;
    padding: 5px 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type=email] {
    font-family:"Comic Sans MS", cursive, sans-serif;
    border-style:solid;
    border-width:medium;
    border-color:#000000;
    padding: 5px 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type=password] {
    font-family:"Comic Sans MS", cursive, sans-serif;
    border-style:solid;
    border-width:medium;
    border-color:#000000;
    padding: 5px 5px;
    border-radius: 4px;
    margin-bottom: 30px;
}

input[type=submit] {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.4em;
    border-style:solid;
    border-width:medium;
    border-color:#000000;
    margin-left: 45%;
}

a.register:link, a.register:visited {
    border-style:solid;
    border-width:medium;
    border-color:#000000;
    margin-left: 40%;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.4em;
    background-color:#f7f7f7;
    text-decoration:none;
    text-align:center;
    color:#000000;
} 

a.register:hover,a.register:active {
    border-style:solid;
    border-color:#000000;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.4em;
    text-decoration:none;
} 
